doctype html
head
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(href="/main.css" rel="stylesheet")
	title=title
body(view="drives" username=username)
	if username!=""
		="Currently logged in as: "
		span#username=username
		form(action="/login" method="POST")
			input(type="submit" value="Logout")
	else
		="Currently not logged in"
		form(action="/login" method="POST")
			input(type="text" name="username" placeholder="username" autocomplete="new-password")
			br
			input(type="password" name="password" placeholder="password" autocomplete="new-password")
			br
			input(type="submit" value="Login")
	hr
	if canUpload
		a(href="/uploadForm" class="uploadForm")="Upload file"
	for redirect in redirects
		a(href="/"+redirect class="redirect")=redirect
		br
	for drive in drives
		a(href="/"+drive class="drive")=drive
		br
