doctype html
head
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(href="/main.css" rel="stylesheet")
	title=loc
body(view="folder" username=username)
	if username!=""
		="Currently logged in as: "
		span#username=username
	else
		="Currently not logged in"
		form(action="/login" method="POST")
			input(type="text" name="username" placeholder="username" autocomplete="new-password")
			br
			input(type="password" name="password" placeholder="password" autocomplete="new-password")
			br
			input(type="submit" value="Login")
	br
	span#loc=loc
	br
	a(href="..")=".."
	hr
	for folder in contents.folders
		a(href=folder class="folder")=folder
		br
	for file in contents.files
		if /\.(a?png|jpe?g|gif)$/.test(file)
			a(href=file class="file image "+viewSettings.folder.imageMode)
				if viewSettings.folder.imageMode=="embed"
					img(src=file alt=file)
				else if viewSettings.folder.imageMode=="thumbnail"
					img(src=file+"?thumbnail" alt=file)
				else
					=file
		else if /\.(mp4|mov|webm)$/.test(file)
			a(href=file class="file video "+viewSettings.folder.videoMode)
				if viewSettings.folder.videoMode=="embed"
					video(controls class="file video embed"): source(src=file)
				else
					=file
		else
			a(href=file class="file generic link")=file
