doctype html
head
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(href="/main.css" rel="stylesheet")
	title="File upload"
body(view="uploadForm" username=username maxfilesize=maxFileSize)
	="Currently logged in as: "
	span#username=username
	if maxFileSize!=-1
		=" (max file size: "
		span#maxFileSize=maxFileSize
		=")"
	a(href="/")="Home"
	form(action="/upload" method="post" enctype="multipart/form-data")
		input(type="file" name="file")
		br
		input(type="submit" value="Upload file")
