doctype html
head
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(href="/main.css" rel="stylesheet")
	title="File uploaded"
body(view="uploaded" username=username filename=file)
	="Successfully uploaded "
	span#filename=file
	a(href="/uploadForm")="Go back"
